# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/ctfc.vcxproj.user
/脚本编译器/.vs
/脚本编译器/Debug
/脚本编译器/Release
/脚本编译器/脚本编译器.vcxproj.user
/脚本编译器/*.aps
